@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<td style=" width:150px">
    <div class="btn btn-group">
        <a asp-action="Edit" app-controller="ProductTypes" class="btn btn-primary" app-route-id="@Model ">Edit</a>
        <a asp-action="Edit" app-controller="ProductTypes" class="btn btn-primary" app-route-id="@Model ">Edit</a>
        <a asp-action="Edit" app-controller="ProductTypes" class="btn btn-primary" app-route-id="@Model ">Edit</a>
    </div>
</td>
